/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/_all';
@import 'bulma/sass/form/_all';
@import 'bulma/sass/components/_all';
@import 'bulma/sass/grid/_all';
@import 'bulma/sass/helpers/_all';
@import 'bulma/sass/layout/_all';

.has-fill-primary {
    fill: #566872;
  }
  
  fieldset {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
  }
  
  fieldset>legend {
    padding: 3px;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .icon>svg {
    fill: #ffffff;
    height: 32px;
  }
  
  .button-icon-svg {
    width: 25px;
    height: 25px;
    pointer-events: none;
  }
  
  /* Definition List */
  
  dt {
    font-weight: bold;
  }
  
  dd {
    margin-bottom: 1rem;
  }
  
  /* Range / Slider http://danielstern.ca/range.css/ */
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 4.35px 0;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.3px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #b5b5b5;
    border-radius: 1px;
    border: 1px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #7a7a7a, 0px 0px 0px #878787;
    border: 1px solid #7a7a7a;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.35px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #c2c2c2;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.3px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #b5b5b5;
    border-radius: 1px;
    border: 1px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #7a7a7a, 0px 0px 0px #878787;
    border: 1px solid #7a7a7a;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 6.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  input[type=range]::-ms-fill-lower {
    background: #a8a8a8;
    border: 1px solid rgba(1, 1, 1, 0);
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  
  input[type=range]::-ms-fill-upper {
    background: #b5b5b5;
    border: 1px solid rgba(1, 1, 1, 0);
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #7a7a7a, 0px 0px 0px #878787;
    border: 1px solid #7a7a7a;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    height: 6.3px;
  }
  
  input[type=range]:focus::-ms-fill-lower {
    background: #b5b5b5;
  }
  
  input[type=range]:focus::-ms-fill-upper {
    background: #c2c2c2;
  }


  @media print {
    button {
        display: none !important;
    }
    
    .hide-on-save {
      display: none !important;
  }
  
}